<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul [nzTheme]="'light'" nz-menu [nzMode]="'horizontal'" [nzSelectable]="false">
      <li nz-menu-item [routerLink]="['/index']">
        <img src="assets/images/logo.png" alt="" class="header-logo">
      </li>
      <!--<li nz-menu-item [routerLink]="['/soft']" [nzSelected]="router.url === '/soft'">安装软件</li>-->
      <li nz-menu-item [routerLink]="['/service']" [nzSelected]="router.url === '/service'">生成服务</li>
    </ul>
  </nz-header>
  <nz-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>
